<!DOCTYPE html>
<html>
<head>
  <title>ContaUno</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="main-nav animated fadeInDown">

  <%= link_to 'Licencia', root_path, class: "#{selectable_link( yield(:selected), 'L' )}" %>
  <%= link_to 'Tareas', tareas_path, class: "#{selectable_link( yield(:selected), 'T' )}" %>
  <%= link_to 'Contacto', contacto_path, class: "#{selectable_link( yield(:selected), 'C' )}" %>
  <%= link_to 'Profesores', profesor_path, class: "#{selectable_link( yield(:selected), '' )}" %>
  <%#= link_to 'Profesores', root_path %>
</nav>


<%= yield %>
<div class="ms-mq-test" style="color:black"></div>

</body>
</html>
